@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Handlee&family=Indie+Flower&family=Josefin+Slab:ital,wght@0,300;0,400;0,700;1,500&family=Patrick+Hand&family=Rancho&family=Rubik:wght@400;500;700&display=swap");
* {
  font-family: "Rancho", cursive;
  font-size: 105%;
}

.title {
  font-size: 250%;
  margin-left: 30px;
}

.score-header {
  display: flex;
  align-items: baseline;
}

.refresh-btn,
.submit-btn {
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}

.display {
  border: 1px solid black;
  box-sizing: border-box;
}

.score-title {
  margin-right: 20px;
}
.score-title h3 {
  font-size: 160%;
  margin-right: 250px;
}

.display ul {
  padding: 0;
  margin: 0;
}

.display ul li {
  list-style: none;
  height: 30px;
}

.display ul li:nth-child(odd) {
  background: #ccc;
}

.page {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.score-page {
  margin-left: 30px;
  width: 40%;
}

.form-sec {
  width: 60%;
  align-self: baseline;
}

input {
  margin-bottom: 10px;
  width: 50%;
}

.submit-btn {
  margin-left: 325px;
}
